<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/1d34f4a820.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>

    <body>
        <%- include('_header.ejs'); %>



        <main id="layout-main">
            <%-body%>
        </main>
        <%- include('_footer'); %>

        <%- script %>

        <script>
            <% if (flash.success && flash.success.length > 0){%>
                new Noty({
                    type: 'success',
                    layout: 'topRight',
                    theme : 'relax',
                    text: '<%= flash.success %>',
                    timeout: 1500
                }).show();
                
            <%} %>

            <% if (flash.error && flash.error.length > 0){ %>
                new Noty({
                    type: 'error',
                    layout: 'topRight',
                    theme : 'relax',
                    text: '<%= flash.error %>',
                    timeout: 1500
                }).show();
                
            <%} %>
        </script>

    </body>
</html>